h1,h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;

}
h1, h2 {
	background-color: #ffffff;
	color: #4aaaa5;
}

#brand {
	background-color:  #4aaaa5;
	color: #ffffff;
	padding: 20px;
	width: 220px;
	margin: 20px 30px 0px 0px;
	float: left;
	display: inline;

}

#header {
	border-bottom: 1px solid #cccccc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;

}

li {
    float: right;
}

li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #4aaaa5;
}

.bio {
	width: 70%;
	float: left;
}
#pic {
	height: 200px;
	width: 200px;
	margin: 15px;
}

img {
	height: 50px;
	width:50px;
	
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	
	background-image: url('../images/new_year_background.png');

}

.container {
	width: 960px;
	margin: 0 auto;
}

.intro {float:left;}

