* {
	margin: 0;
}
h1, h2, h3, h4 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	border-bottom: 2px solid #cccccc;
	line-height: 300%;

}


#brand {
	background-color:  #4aaaa5;
	color: #ffffff;
	padding: 25px;
	float: left;
	display: inline;
	line-height: 100%;
	border: none;

}

nav {
	background: #ffffff;
	border-bottom: 2px solid #cccccc;
	background: #ffffff;
	line-height: 100%;
	width: 100%;
}
ul {
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
    margin-left: 10%;
}

li a {
    float: right;
    color: #777777;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 14px;
}

#add-margin {
	margin-right: 25%;
}
li a:hover {
    background-color: #4aaaa5;
}
.bio, .text, .gallery {
	width: 45%;
	height: 68%;
	background: #ffffff;
	float: left;
	margin-left: 10%;
	margin-top: 30px;
	margin-bottom: 30px;	
	padding: 0px 25px;
	border: 1px solid #dddddd;
	box-sizing: border-box;
	
}

p {
	margin: 20px;
}


.connect  {
	
	background: #ffffff;
	float: left;
	margin-left: 30px;
	margin-top: 30px;
	padding: 0px 25px 25px;
	border: 1px solid #dddddd;
	text-align: center;
	
}

#icons {
	padding-top: 15px;
	
}

img {
	height: 40px;
	width:40px;
	padding: 1px;
}


input, textarea {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

textarea {
	border-color: #dddddd;
	
}

input[type=button], input[type=submit], input[type=reset] {
    width: 100px;
    background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    padding:10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

input[type=submit]:hover {
	background-color: #337571;
}

#pic  {
	height: 95px;
	width: auto;
	margin: 20px 20px 0px 0px;
	float: left;
}

.img1, .img2, .img3, .img4, .img5 {
	
	display: inline-block;
	margin: 20px 0px 20px 42px;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 175px;
	width: 224px;	
}
	

.img1 {
	background-image: url("../images/city-q-c-640-480-4.jpg");
}

.img2 {
	background-image: url("../images/fashion-q-c-640-480-5.jpg");
}

.img3 {
	background-image: url("../images/fashion-q-c-640-480-7.jpg");
}

.img4 {
	background-image: url("../images/fashion-q-c-640-480-10.jpg");
}

.img5 {
	background-image: url("../images/nature-q-c-640-480-7.jpg");
}


.desc {
	background: #4aaaa5;
	color: #ffffff;
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: lighter;
	margin-top: 130px;

}


html, body {
	height: 100%
}
body {
	width: 100%;
	margin: 0 auto;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	background-image: url('../images/new_year_background.png');
	line-height: 150%;
	font-size: 16px;
	
}

.wrapper {

	min-height: 100%;
	margin: 0 auto -155px;
	height: auto !important;
	height: 100%;
	
}



.footer, .push {

	clear:both;
	height: 155px;
}

.footer {
	background: #666666;
	border-top: 6px solid #4aaaa5;
	text-align: center;
	color: #ccc;
	font-size: 10px;
}

