* {
	margin: 0;
}
h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	border-bottom: 2px solid #cccccc;
	line-height: 150%;

}


#brand {
	background-color:  #4aaaa5;
	color: #ffffff;
	padding: 20px;
	width: 220px;
	float: left;
	display: inline;
	line-height: 100%;

}

#header {
	border-bottom: 2px solid #cccccc;
	background: #ffffff;
	line-height: 100%
}
.nav {
	background: #ffffff;
	margin: 0px 40px 0px 76px;
}

.bio, .text, .gallery {
	width: 67%;
	background: #ffffff;
	float: left;
	margin-left: 76px;
	margin-top: 37px;
	margin-bottom: 30px;	
	padding: 30px;
	border: 1px solid #dddddd;
	box-sizing: border-box;
	min-width: 300px;
	max-width: 650px;
}

p {
	margin: 20px;
}


.connect  {
	
	background: #ffffff;
	float: left;
	margin-left: 29px;
	margin-top: 37px;
	padding: 20px 30px;
	border: 1px solid #dddddd;
	text-align: center;
	
}

#icons {
	padding-top: 15px;
	
}

img {
	height: 50px;
	width:50px;
	padding: 5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    font-size: 15px;

}

li {
    float: right;
}

li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #4aaaa5;
}

input, textarea {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

textarea {
	border-color: #dddddd;
	
}

input[type=button], input[type=submit], input[type=reset] {
    width: 100px;
    background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    padding:10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

input[type=submit]:hover {
	background-color: #337571;
}

#pic  {
	height: 200px;
	width: auto;
	margin: 20px 20px 0px 0px;
	float: left;
}

.img1, .img2, .img3, .img4, .img5 {
	
	display: inline-block;
	margin: 20px 0px 20px 42px;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 175px;
	width: 224px;	
}
	

.img1 {
	background-image: url("../images/city-q-c-640-480-4.jpg");
}

.img2 {
	background-image: url("../images/fashion-q-c-640-480-5.jpg");
}

.img3 {
	background-image: url("../images/fashion-q-c-640-480-7.jpg");
}

.img4 {
	background-image: url("../images/fashion-q-c-640-480-10.jpg");
}

.img5 {
	background-image: url("../images/nature-q-c-640-480-7.jpg");
}


.desc {
	background: #4aaaa5;
	color: #ffffff;
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: lighter;
	font-size: 15px;
	margin-top: 130px;

}


html, body {
	height: 100%
}
body {
	width: 100%;
	margin: 0 auto;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	background-image: url('../images/new_year_background.png');
	line-height: 200%;
	font-size: 16px;


}

.wrapper {
	min-height: 100%;
	margin: 0 auto -155px;
	height: auto !important;
	height: 100%;
	
}



.footer, .push {

	clear:both;
	height: 155px;
}

.footer {
	background: #666666;
	border-top: 6px solid #4aaaa5;
	text-align: center;
	color: #ccc;
	font-size: 10px;
}

