* {
	margin: 0;
}
h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	border-bottom: 2px solid #cccccc;
	line-height: 150%;
}


#brand {
	background-color:  #4aaaa5;
	color: #ffffff;
	padding: 20px;
	width: 220px;
	margin: 24px 30px 0px 0px;
	float: left;
	display: inline;

}

#header {
	border-bottom: 2px solid #cccccc;
	background: #ffffff;
}
.nav {
	background: #ffffff;
	margin: 0px 200px 0px 150px;
}

.bio, .input {
	width: 40%;
	background: #ffffff;
	float: left;
	margin-left: 150px;
	margin-top: 30px;
	margin-bottom: 30px;	
	padding: 10px 20px;
	border: 1px solid #dddddd;
}
.connect  {
	
	background: #ffffff;
	float: left;
	margin-left: 50px;
	margin-top: 30px;
	padding: 10px 20px 20px 20px;
	border: 1px solid #dddddd;
	text-align: center;

}

#icons {
	padding-top: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;

}

li {
    float: right;
}

li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #4aaaa5;
}


#pic  {
	height: 200px;
	width: auto;
	margin: 15px;
}

img {
	height: 50px;
	width:50px;
	padding-top: 5px;
	
}

html, body {
	height: 100%
}
body {
	width: 100%;
	margin: 0 auto;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	background-image: url('../images/new_year_background.png');
	line-height: 200%;


}

.wrapper {
	min-height: 100%;
	margin: 0 auto -155px;
	height: auto !important;
	height: 100%;
	
}

.intro {float:left;}

.footer, .push {

	clear:both;
	height: 155px;
}

.footer {
	background: #666666;
	border-top: 6px solid #4aaaa5;
	text-align: center;
	color: #ccc;
	font-size: 10px;
}

